body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('../images/8269C4AB-8464-4B32-9426-A2C9F80E5FC0_1_105_c.jpeg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: red;
}

button {
  color: red;
}

a {
  text-align: center;
  color: red;
  box-shadow: inset 0 -0.25em hsl(55, 100%, 75%);
}
