body 
{
    background-color: black;
    height: 100vh;
    width: 100vw;
    margin: 0rem;
    overflow-x: hidden;
    overflow-y: auto;
}

h1
{
    color: white;
    font-size: 5rem;
    font-family: "Azeret Mono", monospace;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    text-align: center;
    word-wrap: break-word;
}

h2 {
    color: white;
    font-family: "Azeret Mono", monospace;
    padding: 0rem clamp(1rem, 2vw, 3rem);
}

h2:hover {
    color:black;
    background-color:white;
}

ul {
    padding: 0;
}

h3, p, h4 {
    color:white;
    font-family: "Azeret Mono", monospace;
    text-align: center;
}

p {
    margin-left: 15%;
    margin-right: 15%;
}

::-moz-selection {
    color: red;
    background: yellow;
  }
  
  
::selection {
    color: black;
    background: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 5px;
    background-color: green;
    text-align: center;
    border: 2px solid white;
}

button:hover {
    background-color: white;
}

a {
    color: white;
    font-size: medium;
    font-family: "Azeret Mono", monospace;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

a:hover {
    text-decoration-style: dotted;
}

p span {
    display: block; 
    padding-bottom: 10px;
}

#about > h2:hover {
    color: red;
}

#programming > h2:hover {
    color: blue;
}

#photography > h2:hover {
    color: gold;
}

#contact > h2:hover {
    color: green;
}

#email-button:hover {
    color: green;
}

#email-button {
    text-decoration: none;
}

#image-track {
    display: inline-flex;
    gap: 4vmin;
    position: relative;
    left: 50%;
    bottom: auto;
    transform: translate(0%, -50%);
    user-select: none; 
}

#image-track > .image {
    width: 24vmin;
    height: 36vmin;
    object-fit: cover;
    object-position: 100% center;
    display: inline;
}

#photo-div > p {
    padding-bottom: 20%;
}

@media only screen and (min-width: 1400px) {
    #photo-div > p {
        padding-bottom: 10%;
    }
}

#photography-h3 {
    padding-bottom: 1rem;
}

#prog-div > p {
    text-align: left;
}